@charset "UTF-8";

.boardDetail {
	margin: 10px auto;
	padding: 10px;
}
.boardDetail h2 {
	font-size: 1.5em;
	margin: 0;
}
.boardDetail h5 {
	font-size: 1em;
	border-bottom: 1px solid #eeeeee;
	font-weight: 100;
	margin: 0;
	padding: 5px;
}
.boardDetail h4 {
	font-size: 1.2em;
}
.boardDetail p {
	margin: 0;
	padding: 50px 30px;
	border-bottom: 1px solid #eeeeee;
}
.boardDetail textarea {
	width: 90%;
	margin: auto;
	text-align: left;
	padding: 2px;
}