@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
#main {
	max-width: 1000px;
	min-width: 600px;
	margin: auto;
}
#back {
	margin: 0 auto;
}
#groupDetail{
	width: 80%;
	margin: 0 auto;
}
#sideBanner{
	width:200px;
	position:fixed;
	top:200px;
	right:200px;
}
#sideBanner_hitGroup{
	display: block;
	white-space:nowrap;
	overflow:hidden;
}
#sideBanner_hitGroup li::marker{
	color : blue;
	
}
#sideBanner_hitGroup_border{
	border-radius: 10px;
	border:solid gray 2px;
}
#groupInfo_title{
	margin-right:20px;
}
.back{
	width : 30px;
	text-align: left;
}
button{
	text-align: center;
}
#commentContent{
	border-radius: 10px;
}
#submitBtn{
	border-radius: 20px;
	background-color:black;
	color:white;
}
#rank{
	font-style: italic;
	font-weight: bold;
	color:blue;
}
#main .groupContent_detailHeader .groupDetail_title{
	margin: 10px;
	font-size: 2em;
	font-weight: bold;
	white-space: no-wrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#main .groupContent_detailHeader .groupDetail_writer .mimage img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
#main .groupContent_detailHeader .groupDetail_writer .mimage {
	float: left;
	margin-right: 20px;
}
#main .groupContent_detailHeader .groupDetail_writer .mid {
	height: 40px;
	float: left;
	line-height: 40px;
}
#main .groupContent_detailHeader .groupDetail_writer .mid:after {
	clear: both;
	display: block;
	content: '';
}
#main .groupContent_detailHeader .groupDetail_writer .grdate{
	float: right;
	display: inline-box;
	height: 40px;
	line-height: 40px;
	font-size: 0.9em;
	color: gray;
}
#main .groupContent_detailHeader .groupDetail_writer .grdate:before {
	clear: both;
	display: block;
}
#main .groupContent_detailHeader .groupContent_detail {
}
#main .groupContent_detailHeader .groupContent_detail ul li {
	float: left;
	width: 50%;
	margin-bottom: 15px;
}
#main .groupContent_detailHeader .groupContent_detail ul li:before {
	clear: both;
	display: block;
	content: '';
}
#main .groupContent_detailHeader #mygroup_nav {
	width: 100%;
	margin: 0;
	padding: 0;
}
#main .groupContent_detailHeader #mygroup_nav ul {
	margin: 0;
	padding: 0;
}
#main .groupContent_detailHeader #mygroup_nav ul li {
	margin: 0;
	padding: 0;
}
#main .groupContent_detailHeader #mygroup_nav ul li p {
	margin: 1px;
	padding: 10px;
	width: 24.5%;
	float: left;
	text-align: center;
	background-color: #E2CFF4;
}
#main .studyContent_detailComment {
	background-color: #F9F7FC;
	padding: 5px 20px;
}

#main .groupContent_detailHeader #mygroup_nav ul li:first-child p{
	border-radius: 20px 0 0 20px;
}
#main .groupContent_detailHeader #mygroup_nav ul li:last-child p{
	border-radius: 0 20px 20px 0;
}
#main .groupContent_detailHeader #mygroup_nav ul li p:hover {
	cursor: pointer;
	font-weight: bold;
}
#main .groupContent_detailHeader .groupContent_detail {
	
}
#main .groupContent_detailHeader .groupContent_detail ul li .groupInfo_content_lang {
	padding: 0;
	margin: 0;
	display: inline-block;
	line-height: 100%;
}
#main .groupContent_detailHeader .groupContent_detail ul li .groupInfo_content_lang img {
	padding: 0;
	margin: 0;
	position: relative;
	height: 20px;
	width: 20px;
	line-height: 100%;
}
#main .groupContent_detailContentWrapper {
	width: 100%;
}
#main #writeGroupBoard{
	margin-top: 50px;
}
#main #writeGroupBoard h2 {
	padding: 20px;
}
.groupContent_detailContentWrapper pre {
	white-space: normal;
	font-size: 1em;
}
#main .language{
	width:40px;
	height:40px;
	display: inline;
	border-radius: 50px;
}
#main .groupContent_btns {
	text-align: center;
}
#main .groupContent_detail {
	padding-top: 30px;
}
.contentInput_buttonWrapper {
	text-align: center;
	margin-top: 20px;
}
.InsertScheduleDiv .emptySchedule {
	text-align: center;
	margin: 10px 10px;
}
.InsertScheduleDiv .insertScheduleDiv button {
	margin: 10px;
}
#main .InsertSchedule {
	width: 300px;
	margin: auto;
}
#main .InsertSchedule form {
	width: 300px;
	margin: auto;
}
#main .InsertSchedule form h2 {
	text-align: center;
}
#main .InsertSchedule form div {
	margin: 10px auto;
}
#main .InsertSchedule form div .inputBox {
	width: 200px;
}
#main .InsertSchedule form div span {
	display: inline-block;
	width: 50px;
}
#main .InsertSchedule #insertSchedule {
	text-align: center;
	margin: 30px auto;
	-moz-appearance: none;
	-ms-appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 4px;
	border: 0;
	box-shadow: inset 0 0 0 2px #585858;
	color: #585858 !important;
	cursor: pointer;
	display: block;
	font-size: 0.8em;
	font-weight: 900;
	height: 3.5em;
	letter-spacing: 0.35em;
	line-height: 3.45em;
	overflow: hidden;
	padding: 0 1.25em 0 1.6em;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
}
.insertScheduleForm {
	width: 600px;
	margin: auto;
}
.insertScheduleForm fieldset {
	display: block;
	border: 3px solid #eeeeee;
	padding: 20px;
	margin: 10px;
}
.insertScheduleForm fieldset legend {
    border: none;
    text-align: center;
}
#groupBoardList h2 {
	text-align: center;
}
#groupBoardList #div_search {
	padding-top: 20px;
	margin: 10px auto;
	text-align: center;
}
#groupBoardList #div_search #searchGroupBoard {
	height: 40px;
}

.boardDetail {
	margin: 10px auto;
	padding: 10px;
}
.boardDetail #boardTitle {
	font-size: 1.5em;
	margin: 0;
}
.boardDetail #boardWriter {
	font-size: 1em;
	border-bottom: 1px solid #eeeeee;
	font-weight: 100;
	margin: 0;
	padding: 5px;
}
.boardDetail #boardRdate, #boardCommentRdate {
	float: right;
	font-size: 0.8em;
	margin: 5px;
}
.boardDetail #boardComment {
	font-size: 1.2em;
	margin: 0;
}
.boardDetail #boardContent {
	margin: 0;
	padding: 50px 30px;
	border-bottom: 1px solid #eeeeee;
}
.boardDetail #div_comment {
	width: 95%;
	margin: 10px auto;
	
}
.boardDetail #div_comment #boardCommentContent {
	border-bottom: 1px solid #eeeeee;
}
.boardDetail #div_comment #boardCommentWriter {
	margin: 10px;
	padding: 0;
}

.boardDetail pre {
	float: right;
	margin: 0;
}

.boardDetail pre:hover {
	color: #f2849e !important;
	cursor: pointer;
}

.boardDetail textarea {
	width: 90%;
	margin: auto;
	text-align: left;
	padding: 2px;
}

.commentList 
	.commentItem_commentHeader 
		.commentItem_writer img{
			width: 40px;
			height: 40px;
			border-radius: 100%;
			margin-right: 20px;
		}
		.commentItem_writer{display:flex; align-items: center;}
		.commentItem_title {display:flext; flex-direction: column;}
@media screen and (max-width: 760px) {
		#main .groupContent_detailHeader .groupContent_detail {
		 font-size: 0.8em;
	}
}